/* Body */
body {
  background: #f5f5f5;
}


/* Div */
div.boxed {
  padding: 10px 10px 10px 10px;
  border: 1px solid #BFBFBF;
  background-color: #fdfdfd;
  box-shadow: 10px 10px 5px #aaaaaa;  
}

div.boxed.a {
  padding: 10px;
}

div.boxedfloating {
	padding: 10px 10px 10px 10px;
	border: 1px solid #BFBFBF;
	background-color: fdfdfd;
	box-shadow: 10px 10px 5px #aaaaaa;
	margin: 15 15px;
	float: left;
}

div.boxedfloatingfixedsize {
	padding: 10px 10px 10px 10px;
	border: 1px solid #BFBFBF;
	background-color: fdfdfd;
	box-shadow: 10px 10px 5px #aaaaaa;
	margin: 15 15px;
	float: left;
	width: 220px;
	height: 260px;
}

div.boxednopadding {
  padding: 0px 0px 0px 0px;
  border: 1px solid #BFBFBF;
  background-color: fdfdfd;
  box-shadow: 10px 10px 5px #aaaaaa;
}


/* Images */
img.maxwidthheightlimit {
	max-width: 200;
	max-height: 200;
}

img.image_last_list {
	max-width: 39;
	max-height: 39;
	padding: 1px;
	margin: auto;
}

img.image_last_item {
	max-width: 40;
	max-height: 26;
	border: none;
	padding: 1px;
	border-radius: 8px;
	margin: auto;
}

img.favorite {
	max-width: 15;
	max-height: 15;
}


/* Headlines */
p.headline1 { color: #333333; font-family: 'Bitter', serif; font-size: 24px; font-weight: bold;  }
p.headline2 { color: #333333; font-family: 'Bitter', serif; font-size: 20px; font-weight: bold;  }


/* Links */
a.menu1:link { font-weight:bold; color:white; text-decoration:none;  font-size: 2em; }
a.menu1:visited { font-weight:bold; color:white; text-decoration:none; }
a.menu1:focus { font-weight:bold; color:#ff0000; text-decoration:none; }
a.menu1:hover { font-weight:bold; color:#ff0000; text-decoration:none; }
a.menu1:active { font-weight:bold; color:#ff0000; text-decoration:none; }

a.highlitetag:link { font-weight:bold; color:#ff0000; text-decoration:none; }
a.highlitetag:visited { font-weight:bold; color:#ff0000; text-decoration:none; }
a.highlitetag:focus { font-weight:bold; color:#ff0000; text-decoration:none; }
a.highlitetag:hover { font-weight:bold; color:#f06a5d; text-decoration:none; }
a.highlitetag:active { font-weight:bold; color:#ff0000; text-decoration:none; }

a.none:link {  text-decoration:none; }
a.none:visited { text-decoration:none; }
a.none:focus { text-decoration:none; }
a.none:hover { text-decoration:none; }
a.none:active { text-decoration:none; }


/* Buttons */
.mainnavbutton {
	background-color: #fce5e3;
	border: 1px solid #000000;
	border-radius: 8px;
	padding: 0px 0px;
	margin: 0px 0px;
	cursor: pointer;
	top: 10;
}

.mainnavbutton:hover {
	background-color: #ab0e00;	
}

.button {
	background-color: #ab0e00;
	border: 1px solid #000000;
	border-radius: 8px;
	color: white;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
	font-weight: bold;	
	font-size: 14px;
	cursor: pointer;
}

.button:hover {
	background-color: #f06a5d;	
}

.uploadbutton {
	background-color: #ab0e00;
	border: 1px solid #000000;
	border-radius: 8px;
	color: white;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
	font-weight: bold;	
	cursor: pointer;
}

.uploadbutton:hover {
	background-color: #f06a5d;	
}

.navbutton {
	background-color: #fce5e3;
	border: 1px solid #000000;
	border-radius: 8px;
	padding: 1px 1px;
	margin: 0px 5px;
	cursor: pointer;
	position: absolute;
	left: 60;
	top: 10;
	height: 45;
	width: 45;
}

.navbutton:hover {
	background-color: #ab0e00;	
}

.searchbutton {
	background-color: #fce5e3;
	border: 1px solid #000000;
	border-radius: 8px;
	padding: 3px 3px;
	margin: 0px 5px;
	cursor: pointer;
	position: absolute;
	right: 10;
	top: 18;
}

.searchbutton:hover {
	background-color: #ab0e00;	
}


/* Input fields */
.logininputfield {
	background-color: #fce5e3;
	border: 1px solid #000000;
	border-radius: 3px;
	color: black;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
	font-size: 14px;
	cursor: pointer;
}

.searchinputfield {
	background-color: #fce5e3;
	border: 1px solid #000000;
	border-radius: 3px;
	color: black;
	padding: 5px 10px;
	text-decoration: none;
	font-size: 14px;
	cursor: pointer;
	position: absolute;
	right: 65;
	top: 18;
	width: 170px;
}

@media only screen and (min-width: 1000px)  {
	.searchinputfield {
		width: 500;
	}
}

.inputfield {
	background-color: #fce5e3;
	border: 1px solid #000000;
	border-radius: 3px;
	color: black;
	padding: 5px 10px;
	text-decoration: none;
	font-size: 14px;
	cursor: pointer;
}


/* Defaults */
* {
	margin: 0;
	font-family: 'Arial';
}


/* Labels */
.labelgreen {
  color: white;
  padding: 9px;
  background-color: #4CAF50;
}

.labelgray {
  color: black;
  padding: 9px;
  background-color: #e7e7e7;
}

.labelorange {
  color: white;
  padding: 9px;
  background-color: #ff9800;
}