body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.page {
    width: 210mm;
    min-height: 297mm;
    padding: 20mm;
    margin: 10mm auto;
    background: white;
}

img.printpreviewmaxwidthlimit {
    max-width: 100%;
    max-height: 290mm; /* not sure about this value - seems too high (complete page hight is 297mm, minus padding and boxed div should be less...) but is kind of working */
}

a.printpreview:link {
    color: #000000;
    text-decoration: none;
}
a.printpreview:visited {
    color: #000000;
    text-decoration: none;
}
a.printpreview:focus {
    color: #000000;
    text-decoration: none;
}
a.printpreview:hover {
    color: #000000;
    text-decoration: none;
}
a.printpreview:active {
    color: #000000;
    text-decoration: none;
}