<form enctype="multipart/form-data" action="?module=admin&action=savecopyitem" method="POST">
	<p class="headline1">(bereso_template-admin_copyitem)</p>
	<br>
	<div class="boxed">
		<table width="100%" cellspacing="5" cellpadding="5" border="0">
			<tr>
				<td width="50%" valign="top">
					<input name="bereso_sourceitemid" type="text" style="width:100%;" value="" class="inputfield" />
				</td>
				<td width="50%">
					<p class="headline3">(bereso_template-admin_copyitem_sourceitemid)</p>
				</td>
			</tr>
		</table>
		<table width="100%" cellspacing="5" cellpadding="5" border="0">
			<tr>
				<td width="50%" valign="top">
					<select name="bereso_targetuserid" class="button" >
						(bereso_admin_users)
					</select>
				</td>
				<td width="50%">
					<p class="headline3">(bereso_template-admin_copyitem_targetuser)</p>
				</td>
			</tr>
		</table>
	</div>
	<br>

	<br>
	<div class="boxed">
		<table width="100%" cellspacing="5" cellpadding="5" border="0">

			(bereso_admin_copyitem_message)
			<br>

			<button type="submit" value="(bereso_template-admin_copyitem_save)" class="button">(bereso_template-admin_copyitem_save)</button>
	</div>
</form>