<p class="headline1">(bereso_template-admin_users)</p>
<br>
<div class="boxed">
	<table width="100%" cellspacing="5" cellpadding="5" border="0">
		<tr>
			<td width="5%">
				<center><p class="headline2">(bereso_template-admin_users_id)</p></center>
			</td>
			<td width="40%">
				<p class="headline2">(bereso_template-admin_users_name)</p>
			</td>
			<td width="5%">
				<center><p class="headline2">(bereso_template-admin_users_template)</p></center>
			</td>
			<td width="5%">
				<center><p class="headline2">(bereso_template-admin_users_items)</p></center>
			</td>
			<td width="5%">
				<center><p class="headline2">(bereso_template-admin_users_images)</p></center>
			</td>
			<td width="5%">
				<center><p class="headline2">(bereso_template-admin_users_diskspace)</p></center>
			</td>
			<td width="5%">
				<center><p class="headline2">(bereso_template-admin_users_admin)</p></center>
			</td>
			<td width="5%">
				<center><p class="headline2">(bereso_template-admin_users_ocr)</p></center>
			</td>
			<td width="25%">
				<center><p class="headline2">(bereso_template-admin_users_action)</p></center>
			</td>
		</tr>
		(bereso_admin_users_item)
	</table>	
</div>
