<p class="headline1">(bereso_template-admin_center)</p>
<br>

<div class="boxed">
	<a href="index.php?module=admin&action=users"><button class="button">(bereso_template-admin_users)</button></a><br><br>
	<a href="index.php?module=admin&action=copyitem"><button class="button">(bereso_template-admin_copyitem)</button></a><br><br>
	<a href="index.php?module=admin&action=checkimages"><button class="button">(bereso_template-admin_checkimages)</button></a><br><br>
	<a href="index.php?module=admin&action=config"><button class="button">(bereso_template-admin_config)</button></a><br>
</div>
<br>
<div class="boxed">
	<p class="headline1">(bereso_template-admin_center_statistic)</p>
	<br>
	<table width="300" cellpadding="5" cellspacing="5" border="0">
		<tr>
			<td width="150" valign="top">
				<b>(bereso_template-admin_center_statistic_user)</b>
			</td>
			<td width="150" valign="top">
				(bereso_admin_center_statistic_user)
			</td>
		</tr>
		<tr>
			<td width="150" valign="top">
				<b>(bereso_template-admin_center_statistic_items)</b>
			</td>
			<td width="150" valign="top">
				(bereso_admin_center_statistic_items)
			</td>
		</tr>
		<tr>
			<td width="150" valign="top">
				<b>(bereso_template-admin_center_statistic_items_images)</b>
			</td>
			<td width="150" valign="top">
				(bereso_admin_center_statistic_items_images)
			</td>
		</tr>
		<tr>
			<td width="150" valign="top">
				<b>(bereso_template-admin_center_statistic_discspace)</b>
			</td>
			<td width="150" valign="top">
				(bereso_admin_center_statistic_discspace)
			</td>
		</tr>
		<tr>
			<td width="150" valign="top">
				<b>(bereso_template-admin_center_statistic_items_ocr)</b>
			</td>
			<td width="150" valign="top">
				(bereso_admin_center_statistic_items_ocr)
			</td>
		</tr>
		<tr>
			<td width="150" valign="top">
				<b>(bereso_template-admin_center_statistic_items_shared)</b>
			</td>
			<td width="150" valign="top">
				(bereso_admin_center_statistic_items_shared)
			</td>
		</tr>
	</table>
</div>