<p class="headline1">(bereso_template-admin_users_delete_user)</p>
<br>
<center>
<table width="300" cellpadding="0" cellspacing="0" border="0"><tr><td>
<a class="none" href="?module=admin&user_id=(bereso_delete_user_id)&action=delete_user_confirm">
<div class="boxed">
	<table width="100%" cellpadding="5" cellspacing="0">
		<tr>
			<td>
				<center>					
						<b>(bereso_delete_user_name)</b>
						<br><br> 
						<button class="button">(bereso_template-admin_users_delete_confirm)</button>
				</center>
			</td>		
		</tr>
	</table>
</div>
</a>
</td></tr></table>
</center>