				<table width="100%" align="right"><tr><td>
					<form enctype="multipart/form-data" action="?module=edit&item=(bereso_edit_item_id)&item_image_id=(bereso_edit_item_image_id)&action=turn_image_left" method="POST">
					<input type="image" src="templates/edit_image-turn-arrow-left.png" style="float: right;" width="30" height="30" />
					</form>	
				</td><td>
					<form enctype="multipart/form-data" action="?module=edit&item=(bereso_edit_item_id)&item_image_id=(bereso_edit_item_image_id)&action=turn_image_right" method="POST">
					<input type="image" src="templates/edit_image-turn-arrow-right.png" style="float: left;" width="30" height="30" />
					</form>							
				</td></tr></table>