<div class="boxedfloating" id="(bereso_edit_item_image_id)">
	<table width="100%" cellpadding="5" cellspacing="0">
		<tr>
			<td>
				<center>
				<table width="150"><tr><td width="150" height="210"><center>(bereso_edit_item_image_image)</center></td><tr></table> <!-- dummy table to keep all image containers at a minimum size before the page is fully loaded with all images - fixes anchor problem -->
				(bereso_edit_item_image_description) (bereso_edit_item_image_number)<br><br>
				<form enctype="multipart/form-data" action="?module=edit&item=(bereso_edit_item_id)&item_image_id=(bereso_edit_item_image_id)&action=upload_image#(bereso_edit_item_image_id)" method="POST">
				<input name="edit_photo[(bereso_edit_item_image_id)]" type="file" accept="image/x-png,image/png,image/jpeg" class="uploadbutton" />
				<br><br>
				<button type="submit" value="(bereso_template-edit_save)" class="button">(bereso_template-edit_save)</button>
				</form>
				(bereso_edit_item_image_delete)
				<br>
				(bereso_edit_item_image_turn)
				</center>
			</td>		
		</tr>
	</table>
</div>
