<p class="headline1">(bereso_template-edit_ocr)</p>
<br>

<div class="boxed">
	<form enctype="multipart/form-data" action="?module=edit_ocr&action=edit&item=(bereso_edit_ocr_item_id)" method="POST">
		<p class="headline2">(bereso_template-edit_ocr_text)<p>

		<textarea name="edit_text" rows="30" cols="32" style="width:100%;" id="add_text" class="inputfield">(bereso_edit_ocr_edit_text)</textarea>

		<br>
		(bereso_edit_ocr_message)
		<br>

		<button type="submit" value="(bereso_template-edit_ocr_save)" class="button">(bereso_template-edit_ocr_save)</button>
	</form>
</div>
<br>

