<p class="headline1">(bereso_template-edit_item)</p>
<br>

<div class="boxed">
<form enctype="multipart/form-data" action="?module=edit&item=(bereso_edit_item_id)&action=edit" method="POST">
	<p class="headline2">(bereso_template-edit_name)<p>
	<input name="edit_name" type="text" style="width:100%;" value="(bereso_edit_item_name)" />				
	<p class="headline2">(bereso_template-edit_description)<p>
	<textarea name="edit_text" id="edit_text" rows="10" cols="32" style="width:100%;">(bereso_edit_item_text)</textarea>

	<br>
	(bereso_edit_item_message)
	<br>

<select name="addtagtotextarea" id="addtagtotextarea" onchange="insertAtCursor('edit_text','addtagtotextarea')">
	<option value="">(bereso_template-edit_add_hashtag)</option>
	(bereso_edit_item_insert_hashtag)
</>

	<input type="submit" value="(bereso_template-edit_save)" />
</div>
</form>
<br>

	(bereso_edit_item_images)


