				<table width="100%" align="right"><tr><td>
					<form enctype="multipart/form-data" action="?module=edit&item=(bereso_edit_item_id)&item_image_id=(bereso_edit_item_image_id)&action=turn_image_left" method="POST">
					<button class="button" style="float: right;"><input type="image" src="templates/img/edit_image-turn-arrow-left.png" width="30" height="30" /></button>
					</form>	
				</td><td>
					<form enctype="multipart/form-data" action="?module=edit&item=(bereso_edit_item_id)&item_image_id=(bereso_edit_item_image_id)&action=turn_image_right" method="POST">
					<button class="button" style="float: left;"><input type="image" src="templates/img/edit_image-turn-arrow-right.png" width="30" height="30" /></button>
					</form>							
				</td></tr></table>