<p class="headline1">(bereso_template-edit_ocr)</p>
<br>

<div class="boxed">
	<form enctype="multipart/form-data" action="?module=edit_ocr&action=edit&item=(bereso_edit_ocr_item_id)" method="POST">
		<p class="headline2">(bereso_template-edit_ocr_text)<p>

		<textarea name="edit_text" rows="30" cols="32" style="width:100%;" id="add_text" class="inputfield">(bereso_edit_ocr_edit_text)</textarea>
		<br><br>

		<label class="container">(bereso_template-edit_ocr_searchable)
		  <input type="checkbox" class="button" name="edit_searchable" value="searchable" (bereso_edit_ocr_searchable)> 
		  <span class="checkmark"></span>
		</label>

		<br>
		(bereso_edit_ocr_message)
		<br>

		<button type="submit" value="(bereso_template-edit_ocr_save)" class="button" onclick="javascript:show_waitpopup()">(bereso_template-edit_ocr_save)</button>
	</form>
</div>
<br>

<div id="waitpopup" style="background: white;"><font color="black">(bereso_template-edit_ocr_saving_message)</font></div> <!-- Popup -->