<p class="headline1">(bereso_template-list_tags_categorie)</p>
<br>

<a class="none" href="?module=list&tag=ALL">
	<div class="boxed">
		<table width="100%" cellpadding="5" cellspacing="0">
			<tr>
				<td width="3%">
					<img src="tags/all.png" width="50">
				</td>

				<td with="94%">
					(bereso_template-list_tags_all_items)
				</td>
				<td width="3%">
					<b>(bereso_list_tags_allitem_numbers)</b>
				</td>
			</tr>
		</table>
	</div>
</a>
<br>

<a class="none" href="?module=list&tag=SHARED">
	<div class="boxed">
		<table width="100%" cellpadding="5" cellspacing="0">
			<tr>
				<td width="3%">
					<img src="tags/all_shared.png" width="50">
				</td>

				<td with="94%">
					(bereso_template-list_tags_all_shared_items)
				</td>
				<td width="3%">
					<b>(bereso_list_tags_shareditem_numbers)</b>
				</td>
			</tr>
		</table>
	</div>
</a>
<br>

<a class="none" href="?module=list&tag=FAVORITE">
	<div class="boxed">
		<table width="100%" cellpadding="5" cellspacing="0">
			<tr>
				<td width="3%">
					<img src="tags/all_favorite.png" width="50">
				</td>

				<td with="94%">
					(bereso_template-list_tags_all_favorite_items)
				</td>
				<td width="3%">
					<b>(bereso_list_tags_favoriteitem_numbers)</b>
				</td>
			</tr>
		</table>
	</div>
</a>
<br>

<a class="none" href="?module=list&tag=RATED">
	<div class="boxed">
		<table width="100%" cellpadding="5" cellspacing="0">
			<tr>
				<td width="3%">
					<img src="tags/all_rated.png" width="50">
				</td>

				<td with="94%">
					(bereso_template-list_tags_all_rated_items)
				</td>
				<td width="3%">
					<b>(bereso_list_tags_rateditem_numbers)</b>
				</td>
			</tr>
		</table>
	</div>
</a>
<br>

(bereso_list_tags_allocritems)

(bereso_list_tags_items)