<a class="none" href="?module=show&item=(bereso_item_id)" id="(bereso_item_id)">
<div class="boxedfloatingfixedsize">
	<table width="100%" cellpadding="5" cellspacing="0" height="260">
		<tr>
			<td valign="top">				
				<center>					
					<img class="maxwidthheightlimit" src="(bereso_images)(bereso_item_imagename)_0(bereso_item_image_extension)"><br>
				</center>
			</td>		
		</tr>
		<tr>
			<td valign="bottom">
				<center>
					(berso_list_item_favorite) (bereso_item_name)
				</center>
			</td>		
		</tr>
	</table>
</div>
</a>
