        <!-- ++ menu ++ --> 		
        <nav>
          <ul>
            <li class="submenu"><a href="#" class="menu1">&#9776;</a>
              <ul>            
                <li><a href="?module=list_tags">(bereso_template-main_navigation_categories)</a></li>  
				<li><a href="?module=show&action=random">(bereso_template-main_navigation_random_item)</a></li>
                <li><a href="?module=new">(bereso_template-main_navigation_new_recipe)</a></li>
				(bereso_navigation)
				<li><a href="?module=login&action=logout">(bereso_user) (bereso_template-main_navigation_logout)</a></li>
              </ul>
            </li>                      
          </ul>
		  <br>
		  
          (bereso_navigation2)

		  <form enctype="multipart/form-data" action="?module=list&action=search" method="POST">
		  <input type="image" src="templates/img/main_navigation-search.png" style="float: right;" width="37" height="21" />
		  <input type="text" name="search" value="" size="30" style="float: right;">
		  </form>

        </nav>
        <!-- -- menu -- -->	