<li><a href="?module=show_printpreview&item=(bereso_show_item_id)">(bereso_template-main_printpreview)</a></li>
<li><a href="?module=edit&item=(bereso_show_item_id)">(bereso_template-main_navigation_show_edit_item)</a></li>
<li><a href="?module=delete&item=(bereso_show_item_id)">(bereso_template-main_navigation_show_delete_item)</a></li>
<li><a href="?module=edit&action=share&item=(bereso_show_item_id)">(bereso_show_item_share_status)</a></li>
<li><a href="?module=edit&action=favorite&item=(bereso_show_item_id)">(bereso_show_item_favorite_status)</a></li>