<p class="headline1">(bereso_template-new_item)</p>
<br>

<div class="boxed">
<form enctype="multipart/form-data" action="?module=new&action=add" method="POST">
	<p class="headline2">(bereso_template-new_name)<p>
	<input name="add_name" type="text" style="width:100%;" value="(bereso_new_item_add_name)" />				
	<p class="headline2">(bereso_template-new_description)<p>

	<textarea name="add_text" rows="10" cols="32" style="width:100%;" id="add_text">(bereso_new_item_add_text)</textarea>

	<br>
	(bereso_new_item_message)
	<br>

<select name="addtagtotextarea" id="addtagtotextarea" onchange="insertAtCursor('add_text','addtagtotextarea')">
	<option value="">(bereso_template-new_add_hashtag)</option>
	(bereso_new_item_insert_hashtag)
</>

	<input type="submit" value="(bereso_template-new_save)" />
</div>
<br>

<div class="boxedfloating">
	<table width="100%" cellpadding="5" cellspacing="0">
		<tr>
			<td>
				<center>
				<p class="headline2">(bereso_template-new_preview_image)</p><br>
				<input name="add_photo[0]" type="file" accept="image/x-png,image/png,image/jpeg" />
				</center>
			</td>		
		</tr>
	</table>
</div>
	
<div class="boxedfloating">
	<table width="100%" cellpadding="5" cellspacing="0">
		<tr>
			<td>
				<center>
				<p class="headline2">(bereso_template-new_item_page) 1</p><br>
				<input name="add_photo[1]" type="file" accept="image/x-png,image/png,image/jpeg" />
				</center>
			</td>		
		</tr>
	</table>
</div>

(bereso_new_item_optional_images)

</form>
