<p class="headline1">(bereso_template-new_taggroup)</p>
<br>

<div class="boxed">
	<form enctype="multipart/form-data" action="?module=new_taggroup&action=add" method="POST">
		<p class="headline2">(bereso_template-new_taggroup_name)<p>
		<input name="add_name" type="text" style="width:100%;" value="(bereso_new_taggroup_add_name)" />
		<p class="headline2">(bereso_template-new_taggroup_description)<p>

		<textarea name="add_text" rows="10" cols="32" style="width:100%;" id="add_text">(bereso_new_taggroup_add_text)</textarea>

		<br>
		(bereso_new_taggroup_message)
		<br>

		<select name="addtagtotextarea" id="addtagtotextarea" <select onchange="insertAtCursor('add_text','addtagtotextarea')">
		<option value="">(bereso_template-new_taggroup_add_hashtag)</option>
		(bereso_new_taggroup_insert_hashtag)
		</select>

		<input type="submit" value="(bereso_template-new_taggroup_save)" />
	</form>
</div>
<br>

